<ion-header>
  <ion-toolbar color="whatsapp" class="messages-page-navbar">
    <ion-buttons slot="start">
      <img class="chat-picture" [src]="picture" />
    </ion-buttons>
    <ion-title class="chat-title">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="attach-button">
        <ion-icon name="attach"></ion-icon>
      </ion-button>
      <ion-button class="options-button">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="messages-page-content" #scrollArea>
  <div class="messages">
    <div *ngFor="let day of (messagesDayGroups | async)" class="day-wrapper">
      <div *ngFor="let message of day.messages" class="message-wrapper">
        <div [class]="'message message-' + message.ownership">
          <div
            *ngIf="message.type == 'text'"
            class="message-content message-content-text"
          >
            {{ message.content }}
          </div>
          <span class="message-timestamp">{{
            message.createdAt | amDateFormat: 'HH:mm'
          }}</span>
        </div>
      </div>

      <div *ngIf="!day.today" class="day-timestamp">{{ day.timestamp }}</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="whatsapp" class="messages-page-footer" position="bottom">
    <ion-input
      color="whatsapp"
      [(ngModel)]="message"
      (keypress)="onInputKeypress($event)"
      class="message-editor"
      placeholder="Type a message"
    ></ion-input>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="message"
        class="message-editor-button"
        (click)="sendTextMessage()"
      >
        <ion-icon name="send"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!message" class="message-editor-button">
        <ion-icon name="mic"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
