<ion-header>
  <ion-toolbar color="whatsapp">
    <ion-title>Chats</ion-title>
    <ion-buttons slot="end">
      <ion-button class="add-chat-button">
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>
      <ion-button class="options-button" (click)="showOptions()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="chats-page-content">
  <ion-list class="chats">
    <ion-item-sliding *ngFor="let chat of (chats | async)" #slidingItem>
      <ion-item class="chat" (click)="showMessages(chat)">
        <img class="chat-picture" [src]="chat.picture" />
        <div class="chat-info">
          <h2 class="chat-title">{{ chat.title }}</h2>

          <span *ngIf="chat.lastMessage" class="last-message">
            <p
              *ngIf="chat.lastMessage.type == 'text'"
              class="last-message-content last-message-content-text"
            >
              {{ chat.lastMessage.content }}
            </p>
            <span class="last-message-timestamp">
              {{ chat.lastMessage.createdAt | amCalendar }}
            </span>
          </span>
        </div>
      </ion-item>
      <ion-item-options class="chat-options">
        <ion-item-option
          color="danger"
          class="option-remove"
          (click)="removeChat(slidingItem, chat)"
        >
          Remove
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
